@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Dancing+Script:wght@700&family=Pacifico&family=Playball&family=Poppins:wght@500&family=Satisfy&family=Ubuntu&display=swap');
body {
  margin: 0;
  text-align: center;
  font-family: "Poppins","Ubuntu", sans-serif;
  font-size: 1.5em;
}
h1{
  margin: 50px auto 0;
  font-family: 'Cookie', cursive;
	font-size: 7.5rem;
  color: #42C2FF
}

h2{
  font-family: "Poppins","Ubuntu", sans-serif;
  font-size: 2.5rem;
  color: #85F4FF
}

h3{
  font-family: "Poppins","Ubuntu", sans-serif;
  color: #85F4FF
}

div{
  background-color: #EFFFFD;
}

.skill-row{
  width : 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.top-container{
  background-color: #EFFFFD;
  position: relative;
  padding-top: 100px;
}

.middle-container{
}

.bottom-container{
}

.poutine{
  text-decoration: underline;
}

.pasta{
  text-decoration: underline;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}
